<h1 id="name"><%= @product.name %></h1>
<h2 id="pid"><%= @product.id %></h2>

<p id="description"><%= @product.description %></p>

<!-- <button id="next">Next Product</button> -->
<%= link_to 'Next Product', '#', id: 'next' %>